* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #bdc3c7;
    --primaryColor: #34495e;
    --secundaryColor: #0091b6b0;
    --whiteColor: #ffffff;
    --fontPoppins: 'Poppins', sans-serif;
    --fontRoboto: 'Roboto', sans-serif;
    --fontStaatliches: 'Staatliches', cursive;
}

body {
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100vh;
    font-family: var(--fontPoppins);
}

.nav-bar {
    display: flex;
    padding: 2rem;
    background-color: var(--whiteColor);
}

.nav-bar .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 680px) {
    .nav-bar .container {
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 0;
    }
    .nav-bar .container h1 {
        margin-bottom: 1rem;
    }
}

.nav-bar .container h1 {
    color: var(--primaryColor);
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--fontStaatliches);
}

.nav-bar #syc-products {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--fontPoppins);
    text-transform: uppercase;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    cursor: pointer;
}

#products {
    width: 100%;
    height: auto;
    padding: 5rem 2.5rem;
}

#products .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--whiteColor);
    padding: 2rem 1.5rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 10px;
    height: 240px;
    width: 100%;
}

@media (max-width: 680px) {
    #products .container {
        flex-direction: column;
        height: auto;
    }
}

#products .img-product img {
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    height: auto;
}

#products .info-product {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 5.5rem;
}

@media (max-width: 680px) {
    #products .info-product {
        width: 100%;
        padding: 0;
        align-items: center;
        margin: 1.5rem 0;
    }
}

#products .info-product .title-product {
    color: var(--primaryColor);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--fontStaatliches);
}

@media (max-width: 680px) {
    #products .info-product .title-product {
        font-size: 2rem;
        font-weight: 700;
        margin: 0.5rem 0;
        text-align: center;
    }
}

#products .info-product .vendor-product {
    color: var(--whiteColor);
    background-color: var(--secundaryColor);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    max-width: 200px;
}

#products .price-product {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

#products .price-product span.price {
    font-family: var(--fontPoppins);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primaryColor);
}

span.price:before {
    content: '$';
    font-weight: 700;
    font-size: 1.25rem;
}